.card {
box-shadow: 2px 4px 10px black;
border-radius: 6px 6px 6px 6px 2px;
cursor: pointer;
max-width: 100%;
}
.card:hover {
  position: relative;
  top: 10px;
  box-shadow: 0px 2px 10px 2px black;
}
.card-title {
  font-family: fantasy;
  color:violet;
}
.card-text {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
white-space: normal;
}
