<div *ngIf="!(productList$ | async)">
  <h3>Kérlek indítsd el a json-szervert</h3>
  <p>A szerver indítása: <code>json-server .\json\products.json</code> </p>
  <br>
</div>

<h3>Kiemelt termékek</h3>
<div class="row my-5">
  <div class="col-12">
    <app-highlighted-products
      [highlightedProducts]="productList$ | async | featuredProduct| randomProducts| topProduct">
    </app-highlighted-products>
  </div>
</div>

<h3>Akciós termékek</h3>
<div class="row my-5">
  <div class="col-12">
    <app-highlighted-products [highlightedProducts]="productList$ | async | randomProducts | topProduct">
    </app-highlighted-products>
  </div>
</div>

<h3>Összes termék</h3>
<div class="row my-5">
  <div class="col-12">
    <app-product-list [productList]="productList$ | async | sortByPrice"></app-product-list>
  </div>
</div>