#fixednav {
  line-height: 13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#mytitle {
  color: rgb(255, 123, 233);
}

.navbar-toggler-icon {
  color: white;
}
